TWITTER_USERNAME=
TWITTER_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GEMINI_API_KEY=
TWELVE_DATA_API_KEY=
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
X_BEARER_TOKEN=
USDT_ADDRESS=
BTC_ADDRESS=
SOL_ADDRESS=
METAWIN_ID=SivakumarBaskar
